
.discussion-root {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

    .header {
        display: flex;
        flex-direction: row;
        margin: 0;

        .title-header {
            flex-grow: 1;

        }

        .new-post-header {
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    .post {
        width: 500px;
        padding: 10px;
    }

    transition-duration: 1s;
    .post:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

}