<mat-toolbar>
    <button mat-icon-button (click)="onMenuClick()">
        <mat-icon>menu</mat-icon>
    </button>
    <span> A.D.A.M Rebuilds</span>
    <span class="spacer"></span>
    <div>
        <button class="profile-button" mat-fab *ngIf="currentUser" (click)="authService.SignOut()" [style.backgroundImage]="'url(' + photoURL + ')'">
        </button>
        <button mat-stroked-button *ngIf="!currentUser" routerLink="login">Login</button>
        <!-- <app-navbar-button *ngIf="currentUser" [text]="'Logout'" (click)="authService.SignOut()"></app-navbar-button> -->
    </div>
</mat-toolbar>