button {
    margin: 0 0 15px 0;
}

.displayTable {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    .signUpCard {
        width: 275px;

        position: relative;

        .loadingOverlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(43, 43, 43, 0.5);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            z-index: 1;
        }

        .title {
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
        }

        .errorMessage {
            color: red;
            text-align: center;
            width: 100%;
        }
    
        .statusMessage {
            font-style: italic;
            text-align: center;
            width: 100%;
        }
    
        .formFields {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .field {
                width: 100%;
            }
        }
    
        .buttonContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .or {
                margin-bottom: 15px;
            }
        }

        .centerAlignedCardContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .redirectToLogin {
                font-size: 0.75rem;

                .redirect {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .forgotPassword {
                margin-top: 5px;
                font-size: 0.75rem;
            }
        }
    }
}