

.galleryContent {
    margin-left: 0px;
    background-color: lightgray;
}

.gallery{
    margin-left: 50px;
    margin-right: 50px;

    img {
        width: 200px;
        padding: 10px;

        
        transition-duration: 0.3s;
        &:hover {
            transform: scale(1.1);
        }

        .delete {
            visibility: hidden;
        }

        .delete:hover{
            visibility: true;
        }
    }
}
