.root {
  
  display:flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;

  .content-container {
    height: auto;

    width: 100%;

    .container {
      //background-color: lightgrey;
      width: 75%;
      margin: auto;
      //box-shadow: 0px 5px 10px grey;
    }
    
    .containerItem {
      display: flex;
      width: 200px;
      height: 200px;
      margin: 15px 20px;
      position: relative;
    
      img {
        height: 200px;
        padding: 10px;
      }
    }
    
    .updatedText {
      text-align: right;
      margin: 10px;
    }
    
    .containerTitle {
      margin: 0 10%;
    }
    
    .divider {
      margin: 50px  auto;
      width: 65%;
    }
    
    .slider {
      width: auto;
      height: 300px;
      display: flex;
      overflow-x: auto;
    
    }
    .slide {
      width: auto;
      flex-shrink: 0;
      height: 100%;
    
      transition-duration: 0.3s;
    
      &:hover {
        cursor: pointer;
        transform: scale(0.9);
      }
    
      &:active {
        transform: scale(0.7);
      }
    }
  }

  
}