
<ng-template #editBody let-form>
  <h1 mat-dialog-title class="modal-title" id="modal-basic-title">Edit</h1>
  <mat-dialog-content>
    <form>
      <mat-form-field style="width: 100%;" appearance="outline">
        <textarea matInput [cdkTextareaAutosize]="true" [cdkAutosizeMinRows]="5" [formControl]="form"></textarea>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="button" class="btn btn-outline-dark" (click)="closeWithControl(form)">Save</button>
  </mat-dialog-actions>
</ng-template>

<div class="container" *ngIf="project">
    

  <div class="content" *ngIf="project">

    <div class="card-container">
      <div class="header">
        <h1>
          Welcome to <strong>{{project.title}}</strong> build
        </h1>
      </div>
  
      <mat-card class="detail-card">
        <button mat-icon-button class="edit-icon" (click)="open('description')">
          <mat-icon>edit</mat-icon>
        </button>
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon >description</mat-icon>
          </div>
          <mat-card-title>
            <span>Description</span>
          </mat-card-title>
          <mat-card-subtitle>
            <span>Description of project backstory and goals</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{project.description}}</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="detail-card">
        <button mat-icon-button class="edit-icon" (click)="open('completed')">
          <mat-icon>edit</mat-icon>
        </button>
        <mat-card-header>
          <mat-icon mat-card-avatar>incomplete_circle</mat-icon>
          <mat-card-title>
            <span>Completion Status</span>
          </mat-card-title>
          <mat-card-subtitle>
            <span>Current future and in-progress tasks</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{project.completed}}</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="detail-card">
        <button mat-icon-button class="edit-icon" (click)="open('updates')">
          <mat-icon>edit</mat-icon>
        </button>
        <mat-card-header>
          <mat-icon mat-card-avatar>new_releases</mat-icon>
          <mat-card-title>
            <span>Updates</span>
          </mat-card-title>
          <mat-card-subtitle>
            <span>Latest updates and new details</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{project.updates}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <div class="gallery">
    <div class="galleryBar">
      <h4>Gallery</h4>
    </div>
    <app-gallery-images [projectId]="projectID"></app-gallery-images>
    <div class="ngContainer">
      <ng-container *ngIf="canClick">
        <span>
          <input class="btn" type="file" *ngIf="isAddFileVisible" (change)="onChooseFile($event)" accept="*.png.jpg">
        </span>
        <button class="btn" (click)="uploadImage()" *ngIf="isButtonVisible">Upload</button>
        <div></div>
        <mat-progress-bar mode="indeterminate" *ngIf="this.isUploading" [value]="progress"></mat-progress-bar>
      </ng-container>
    </div>
  </div>
</div>