.container {

    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    max-width: 1600px;

    .content {

        flex-basis: 500px;
        flex-grow: 1;
        flex-shrink: 1;

        display:flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;

        .header {
            text-align: center;
        }

        .card-container {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            width: fit-content;
        }
    
        .detail-card {
            margin: 20px;
            min-height: 200px;

            display: relative;

            .edit-icon {
                position: absolute;
                top: 10px;
                right: 10px;
            }

            @media screen and (max-width: 768px) {
                margin: 10px;
                min-height: unset;
            }

            p {
                padding-top: 10px;
            }

            mat-card-header {
                [mat-card-avatar] {
                    mat-icon {
                        font-size: 40px;
                    }
                }
        
                mat-icon[mat-card-avatar] {
                    font-size: 40px;
                }
            }
        }
        
    }

    .gallery{

        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 2;

        display: grid;
        grid-column-start: 2;
        grid-row-start: 2;

        

        .galleryContent {
            margin-left: 0px;
            background-color: lightgray;
        }
        
        
        .galleryBar {
            grid-column-start: 2;
            grid-row-start: 1;
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
        
        .galleryBar span {
            float: right;
            padding-left: 181px;
        }
        
    }
    
}

.title {
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgb(148, 255, 255);
    grid-column-start: 1;
    font-size: 40px;
    text-align: center;
    box-shadow: 1px 5px 5px rgb(184, 184, 184);
}






.description {
    width: auto;
    height: 100px;
    background-color: lightgray;
    border-radius: 0 10px 10px 10px;
    margin-bottom: 20px;
    box-shadow: 1px 5px 5px grey;
}

.descTitle {
    width: 150px;
    padding-left: 24px;
    background-color: lightgray;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0px;
    box-shadow: 1px 5px 5px grey;
}

.updates {
    width: auto;
    height: 100px;
    background-color: lightgray;
    border-radius: 0 10px 10px 10px;
    margin-bottom: 20px;
    box-shadow: 1px 5px 5px grey;
}

.updateTitle {
    width: 150px;
    padding-left: 24px;
    background-color: lightgray;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0px;
    box-shadow: 1px 5px 5px grey;
}

.completed {
    width: auto;
    height: 100px;
    background-color: lightgray;
    border-radius: 0 10px 10px 10px;
    box-shadow: 1px 5px 5px grey;
}

.compTitle {
    width: 150px;
    padding-left: 24px;
    background-color: lightgray;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0px;
    box-shadow: 1px 5px 5px grey;
}

.ngContainer {
    grid-row-start: 2;

    .btn {
        display: flex;
        margin: 20px;
        margin-left:20%;
        background-color: rgb(148, 255, 255);
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }
}

.project-card {
    .card-title{
        width: fit-content;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 4px;
        background-color: lightgray;
        border-radius: 10px 10px 0 0;
        margin-bottom: 0px;
        box-shadow: 1px 5px 5px grey;
    }

    .card-body {
        width: auto;
        height: 100px;
        background-color: lightgray;
        border-radius: 0 10px 10px 10px;
        margin-bottom: 20px;
        box-shadow: 1px 5px 5px grey;
        padding: 8px;
    }

    
}