
.root-container {

    display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;

    .imageContainer {

        display:flex;
        flex-direction: column;


        img {
            height: 50vh;
        }
    }
    
    .imageContent {

        margin-left: 24px;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;

        ::ng-deep .add-button {
            color: black;
        }
    }
}

